<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FTT - Account Upgrade</title>
    <link rel="stylesheet" href="./statics/auth.css">
    <!-- <script src="./statics/app.js" defer></script> -->
    <script src="./statics/breg.js" defer></script>
</head>
<body>
    <div class="wrapper" id="wrapper">
        <p class="title">FARM TO TABLE</p>
        <p class="sub">Upgrade your account to bussiness and be a FTT community member.</p>
        <div class="box">
            <input type="text" placeholder="Bussiness Name" class="inp username">
            <input type="text" placeholder="Tell us about your Bussiness" class="inp email">
            <input type="text" placeholder="Address" class="inp password">
            <button class="sbtn" onclick="register()">Upgrade Account</button>
        </div>
    </div>
</body>
</html>