<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./statics/style.css">
    <link rel="stylesheet" href="./statics/navbar.css">
    <script src="./statics/app.js" defer></script>
    <title>Farm To Table</title>
</head>
<body>
    <div class="wrapper">
        <div class="navbar">
            <div class="logo">Farm To Table</div>
            <div class="links">
                <a href="/templates/" class="link">Home</a>
                <a href="/templates/shops.html" class="link">Products</a>
                <a href="/templates/orders.html" class="link">Orders</a>
                <a href="/templates/bregister.html" class="link">Bussiness Account</a>
                <a href="#" class="link" id="logout">Logout</a>
            </div>
        </div>
        <div class="container home">
            <div class="op"></div>
            <p class="htitle" style="z-index: 3;">
                Organic and healthy food at your doorstep directly from farmers
            </p>
            <a href="/templates/shops.html" class="hbtn" style="z-index: 3; text-decoration: none;">View Markets</a>
        </div>
    </div>
</body>
</html>