<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FTT - Register</title>
    <link rel="stylesheet" href="./statics/auth.css">
    <script src="./statics/auth.js" defer></script>
</head>
<body>
    <div class="wrapper" id="wrapper">
        <p class="title">FARM TO TABLE</p>
        <p class="sub">Register to get all your health needs at your table</p>
        <div class="box">
            <input type="email" placeholder="Email" class="inp email">
            <input type="password" placeholder="Password" class="inp password">
            <button class="sbtn" onclick="login()">Login</button>
            <a href="/templates/register.html" class="sn">Not registered yet?</a>
        </div>
    </div>
</body>
</html>

<!-- 
    home, profile
    login, reg
    products, marketplace
    orders, cart
-->

<!-- dashboard -->